.container {
    width: 1400px;
    margin: 0 auto;
    padding-left: 125px;
    background-color: #ffff;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    scroll-behavior: smooth;
    background-color: #F5F5F5;
}

h1 {
    width: 956px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    padding-top: 128px;
    margin-bottom: 30px;
    letter-spacing: -0.03em;


    color: #121212;
}

.mainview_chair {
    height: 500px;
    width: 1150px;

    background-image: url('../resources/mainview_chair.png');
    background-size: contain;
    background-repeat: no-repeat;


}

.mainview_chair_text_wrapper p {
    width: 430px;  
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color:#FFFFFF;
    padding-left: 40px;
    padding-top: 379px;    

}

.about_us {

    margin-top: auto;
    width: 1048px;
    height: 366px;
    margin-left: 3px;

    letter-spacing: -0.03em;
    font-size: 45px;
    line-height: 61px;
    text-align: left;
    box-sizing: border-box;

    

}

h2 {
    
    font-size: 18px;
    line-height: 61px;
    margin-top: 150px;
    margin-bottom: 30px;
    color: #000000
}

h3 {
    font-weight: 400;

    margin-top: 15px;
    margin: bottom 15px;;
    
    font-size: 30px;
    line-height: 40.98px;
    color: #121212
}

p {
    
    font-weight: 300;
    font-size: 20px;
    line-height: 27px;
    margin-top: 15px;
    margin-bottom: 90px;

    color: #AD1818;
}

.btn {
    font-family: 'Manrope', sans-serif;
    display: block;
    font-size: 20px;
    width: 255px;
    height: 67px;
    text-align:center;
    line-height: 27.32px;
    margin-top: 30px;

    border-radius: 5px;
    border-width: 1px;
    border-color: #AD1818;
    color: white;
    
    cursor: pointer;

    background-color: #AD1818;

}

.btn:hover {
    color: #AD1818;
    background-color: white;
    font-weight: 1000;
}

.img {
    width: 1150px;
    height: 450px;
}

